
body {
    background-color: lightgrey;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: black;
}

#page-title {
    text-align: center;
}
